body 
{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}



.searchbar
{
    border-style: solid;
    width: 50%;
    height: 175px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.mastercontain
{
    display: inline-block;
}
.combine
{
    display: inline;
    float: right;
    text-align: center;
    width: 45%;
    

}

.kanjiresult
{
    display: inline;
    float: left;
    margin-left: 15px;
    width: 50%;
    
    
}
.kanjicontent
{
    display: block;
}
.formg
{
    margin: 15px;
}
.sinput
{
    display: block;
    height: 38px;
    width: 40%;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    margin-left: 15px;
    font-size: 54px;
}

.literal
{
    display: inline;
    font-family: 'Shippori Antique B1', sans-serif;
    float: left;
}

.kanjidetails
{
    display: inline;
    float: left;
    width: 400px;
    word-wrap: break-word;
    margin-left: 25px;
    height: 75px;
    font-size: 18px;
}
.kanjibox
{
    width: 100%;
    height: 200px;
    
}
select
{
    height: 38px;
}
.textc{
    text-align: center;
    font-size: 24px;
    margin: 30px;
}

#combineDisplay{
    font-family: 'Shippori Antique B1', sans-serif;
    
}

.nameresult h4{
    font-family: 'Shippori Antique B1', sans-serif;
    
}

.nameresult{
    
    margin: 15px;
}

.nameresult div{
    display: inline-block;
    width: calc(100%/4);
    text-align: center;
    margin: 30px;
}
.nameresult p{
    font-size: 18px;
}