{% extends "layout.html" %}

{% block navlink %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="/">Search Kanji</a>
    <a class="nav-link active" aria-current="page" href="/">Search Name</a>
  </li>
 
{% endblock %}

{% block body %}

<div class="searchbar">
  <h3><b>Enter Name to Search</b></h3>
  <form class="formg" action="/search" method="get" >
      <input class="sinput" name="n" type="text" placeholder="enter name">
      <input type="submit" value="Search">
  </form>


{% endblock %}
